In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
raw_data = pd.read_csv("test_FD004.txt", sep = " ", header = None)

In [3]:
raw_data

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,20.0072,0.7000,100.0,491.19,606.67,1481.04,1227.81,9.35,...,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007,NaN,NaN
1,1,2,24.9984,0.6200,60.0,462.54,536.22,1256.17,1031.48,7.05,...,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748,NaN,NaN
2,1,3,42.0000,0.8420,100.0,445.00,549.23,1340.13,1105.88,3.91,...,8071.13,9.3960,0.02,328,2212,100.00,10.39,6.4365,NaN,NaN
3,1,4,42.0035,0.8402,100.0,445.00,549.19,1339.70,1107.26,3.91,...,8078.89,9.3594,0.02,328,2212,100.00,10.56,6.2367,NaN,NaN
4,1,5,35.0079,0.8400,100.0,449.44,555.10,1353.04,1117.80,5.48,...,8057.83,9.3030,0.02,333,2223,100.00,14.85,8.9326,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,248,277,41.9991,0.8401,100.0,445.00,550.30,1364.40,1129.17,3.91,...,8112.61,9.4427,0.02,331,2212,100.00,10.53,6.2620,NaN,NaN
41210,248,278,20.0026,0.7005,100.0,491.19,608.00,1494.75,1260.88,9.35,...,8086.83,9.2772,0.02,366,2324,100.00,24.33,14.6486,NaN,NaN
41211,248,279,34.9988,0.8413,100.0,449.44,555.92,1370.65,1130.97,5.48,...,8100.84,9.3982,0.02,336,2223,100.00,14.69,8.8389,NaN,NaN
41212,248,280,20.0027,0.7000,100.0,491.19,608.19,1489.11,1256.25,9.35,...,8085.24,9.2727,0.03,366,2324,100.00,24.44,14.6887,NaN,NaN
41213,248,281,35.0075,0.8402,100.0,449.44,556.40,1378.58,1140.70,5.48,...,8098.17,9.3964,0.02,335,2223,100.00,14.72,8.8502,NaN,NaN

In [4]:
raw_data = raw_data.drop([26,27], axis='columns')

In [5]:
raw_data.head(2)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,20.0072,0.70,100.0,491.19,606.67,1481.04,1227.81,9.35,...,313.03,2387.78,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007
1,1,2,24.9984,0.62,60.0,462.54,536.22,1256.17,1031.48,7.05,...,163.61,2028.09,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748

In [6]:
raw_data.columns = ['Engine_ID', 'Cycle', 'OpSet1', 'OpSet2', 'OpSet3', 'SensorMeasure1', 'SensorMeasure2', 'SensorMeasure3', 'SensorMeasure4', 'SensorMeasure5', 'SensorMeasure6', 'SensorMeasure7', 'SensorMeasure8', 'SensorMeasure9', 'SensorMeasure10', 'SensorMeasure11', 'SensorMeasure12', 'SensorMeasure13', 'SensorMeasure14', 'SensorMeasure15', 'SensorMeasure16', 'SensorMeasure17', 'SensorMeasure18', 'SensorMeasure19', 'SensorMeasure20', 'SensorMeasure21']
raw_data

,Engine_ID,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,...,SensorMeasure12,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21
0,1,1,20.0072,0.7000,100.0,491.19,606.67,1481.04,1227.81,9.35,...,313.03,2387.78,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007
1,1,2,24.9984,0.6200,60.0,462.54,536.22,1256.17,1031.48,7.05,...,163.61,2028.09,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748
2,1,3,42.0000,0.8420,100.0,445.00,549.23,1340.13,1105.88,3.91,...,129.98,2387.95,8071.13,9.3960,0.02,328,2212,100.00,10.39,6.4365
3,1,4,42.0035,0.8402,100.0,445.00,549.19,1339.70,1107.26,3.91,...,129.48,2387.90,8078.89,9.3594,0.02,328,2212,100.00,10.56,6.2367
4,1,5,35.0079,0.8400,100.0,449.44,555.10,1353.04,1117.80,5.48,...,181.82,2387.87,8057.83,9.3030,0.02,333,2223,100.00,14.85,8.9326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,248,277,41.9991,0.8401,100.0,445.00,550.30,1364.40,1129.17,3.91,...,130.87,2388.50,8112.61,9.4427,0.02,331,2212,100.00,10.53,6.2620
41210,248,278,20.0026,0.7005,100.0,491.19,608.00,1494.75,1260.88,9.35,...,314.51,2388.33,8086.83,9.2772,0.02,366,2324,100.00,24.33,14.6486
41211,248,279,34.9988,0.8413,100.0,449.44,555.92,1370.65,1130.97,5.48,...,182.76,2388.64,8100.84,9.3982,0.02,336,2223,100.00,14.69,8.8389
41212,248,280,20.0027,0.7000,100.0,491.19,608.19,1489.11,1256.25,9.35,...,314.17,2388.37,8085.24,9.2727,0.03,366,2324,100.00,24.44,14.6887
41213,248,281,35.0075,0.8402,100.0,449.44,556.40,1378.58,1140.70,5.48,...,181.88,2388.59,8098.17,9.3964,0.02,335,2223,100.00,14.72,8.8502

In [7]:
raw_data[raw_data['Engine_ID'] == 1]

,Engine_ID,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,...,SensorMeasure12,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21
0,1,1,20.0072,0.7000,100.0,491.19,606.67,1481.04,1227.81,9.35,...,313.03,2387.78,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007
1,1,2,24.9984,0.6200,60.0,462.54,536.22,1256.17,1031.48,7.05,...,163.61,2028.09,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748
2,1,3,42.0000,0.8420,100.0,445.00,549.23,1340.13,1105.88,3.91,...,129.98,2387.95,8071.13,9.3960,0.02,328,2212,100.00,10.39,6.4365
3,1,4,42.0035,0.8402,100.0,445.00,549.19,1339.70,1107.26,3.91,...,129.48,2387.90,8078.89,9.3594,0.02,328,2212,100.00,10.56,6.2367
4,1,5,35.0079,0.8400,100.0,449.44,555.10,1353.04,1117.80,5.48,...,181.82,2387.87,8057.83,9.3030,0.02,333,2223,100.00,14.85,8.9326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,1,226,0.0018,0.0019,100.0,518.67,642.33,1592.22,1406.67,14.62,...,528.34,2388.22,8162.71,8.2953,0.03,394,2388,100.00,39.46,23.5819
226,1,227,35.0068,0.8414,100.0,449.44,555.47,1369.11,1133.25,5.48,...,184.88,2388.44,8092.23,9.1952,0.02,335,2223,100.00,14.90,8.9485
227,1,228,42.0010,0.8418,100.0,445.00,549.45,1352.89,1129.70,3.91,...,131.55,2388.40,8112.49,9.2161,0.02,332,2212,100.00,10.65,6.5274
228,1,229,42.0055,0.8400,100.0,445.00,549.45,1356.32,1129.66,3.91,...,131.49,2388.45,8109.04,9.2439,0.02,331,2212,100.00,10.54,6.3622
229,1,230,25.0070,0.6214,60.0,462.54,537.66,1264.31,1046.41,7.05,...,166.19,2028.53,7890.31,10.7615,0.02,308,1915,84.93,14.41,8.6329

In [8]:
len(raw_data['Engine_ID'].unique())

248

In [10]:
cycle_ran_after = pd.read_csv('RUL_FD004.txt', sep=' ', header = None)
cycle_ran_after=cycle_ran_after.drop([1], axis='columns')
cycle_ran_after = np.array(cycle_ran_after)
cycle_ran_after

array([[ 22],
       [ 39],
       [107],
       [ 75],
       [149],
       [ 78],
       [ 94],
       [ 14],
       [ 99],
       [162],
       [143],
       [  7],
       [ 71],
       [105],
       [ 12],
       [160],
       [162],
       [104],
       [194],
       [ 82],
       [ 91],
       [ 11],
       [ 26],
       [142],
       [ 39],
       [ 92],
       [ 76],
       [124],
       [ 64],
       [118],
       [  6],
       [ 22],
       [147],
       [126],
       [ 36],
       [ 73],
       [ 89],
       [ 11],
       [151],
       [ 10],
       [ 97],
       [ 30],
       [ 42],
       [ 60],
       [ 85],
       [134],
       [ 34],
       [ 45],
       [ 24],
       [ 86],
       [119],
       [151],
       [142],
       [176],
       [157],
       [ 67],
       [ 97],
       [  8],
       [154],
       [139],
       [ 51],
       [ 33],
       [184],
       [ 46],
       [ 12],
       [133],
       [ 46],
       [ 46],
       [ 12],
       [ 33],
       [ 15],
       [176],
       [ 23],
       [ 89],
       [124],
       [163],
       [ 25],
       [ 74],
       [ 78],
       [114],
       [ 96],
       [ 10],
       [172],
       [166],
       [115],
       [ 70],
       [ 94],
       [ 56],
       [ 86],
       [ 96],
       [ 50],
       [ 73],
       [154],
       [129],
       [171],
       [ 71],
       [105],
       [113],
       [ 37],
       [  7],
       [ 13],
       [ 22],
       [  9],
       [120],
       [100],
       [107],
       [ 41],
       [153],
       [126],
       [ 59],
       [ 18],
       [ 66],
       [ 13],
       [ 14],
       [139],
       [ 13],
       [ 75],
       [  8],
       [109],
       [137],
       [ 41],
       [192],
       [ 23],
       [ 86],
       [184],
       [ 15],
       [195],
       [126],
       [120],
       [165],
       [101],
       [116],
       [126],
       [ 36],
       [  7],
       [122],
       [159],
       [ 88],
       [173],
       [146],
       [130],
       [108],
       [ 53],
       [162],
       [ 59],
       [100],
       [ 56],
       [145],
       [ 76],
       [ 57],
       [ 31],
       [ 88],
       [173],
       [ 34],
       [  7],
       [133],
       [172],
       [  6],
       [ 22],
       [ 83],
       [ 82],
       [ 84],
       [ 95],
       [174],
       [111],
       [ 72],
       [109],
       [ 87],
       [179],
       [158],
       [126],
       [ 12],
       [  8],
       [ 10],
       [123],
       [103],
       [ 12],
       [106],
       [ 12],
       [ 32],
       [ 37],
       [116],
       [ 15],
       [ 10],
       [ 46],
       [142],
       [ 24],
       [135],
       [ 56],
       [ 43],
       [178],
       [ 71],
       [104],
       [ 15],
       [166],
       [ 89],
       [ 36],
       [ 11],
       [ 92],
       [ 96],
       [ 59],
       [ 13],
       [167],
       [151],
       [154],
       [109],
       [116],
       [ 91],
       [ 11],
       [ 88],
       [108],
       [ 76],
       [ 14],
       [ 89],
       [145],
       [ 17],
       [ 66],
       [154],
       [ 41],
       [182],
       [ 73],
       [ 39],
       [ 58],
       [ 14],
       [145],
       [ 88],
       [162],
       [189],
       [120],
       [ 98],
       [ 33],
       [184],
       [110],
       [ 68],
       [ 24],
       [ 75],
       [ 18],
       [ 16],
       [166],
       [ 98],
       [176],
       [ 81],
       [118],
       [ 35],
       [131],
       [194],
       [112],
       [ 26]], dtype=int64)

In [11]:
given_no_of_cycles=[]
for i in range (1,len(raw_data['Engine_ID'].unique())+1):
    given_no_of_cycles.append(len(raw_data[raw_data['Engine_ID']==i]))
    print(len(raw_data[raw_data['Engine_ID']==i]))
    
given_no_of_cycles=np.array(given_no_of_cycles).reshape([cycle_ran_after.shape[0],1])

230
153
141
208
51
146
54
248
284
23
82
270
227
102
168
240
334
247
24
115
202
158
162
174
486
90
144
20
216
229
134
260
107
361
278
159
345
125
214
266
414
200
120
406
78
37
224
214
273
206
137
58
67
81
103
180
121
185
37
135
396
240
158
251
186
97
150
241
162
190
292
118
149
223
203
48
108
106
184
112
60
146
274
88
174
254
167
140
285
118
144
116
200
105
110
123
51
82
237
196
166
443
145
65
351
148
121
145
66
348
342
88
132
218
82
161
97
178
228
170
194
117
236
230
21
220
98
139
315
107
193
115
74
266
435
56
291
239
88
160
19
69
327
34
102
84
116
126
320
202
285
195
130
122
161
28
138
171
160
122
257
99
122
29
178
63
99
74
34
48
355
132
151
135
116
185
146
279
262
367
199
98
125
154
203
47
121
157
107
200
71
203
263
214
186
70
196
115
177
115
139
222
87
19
95
291
179
180
171
135
206
261
288
102
72
264
141
63
110
65
176
178
305
152
39
59
62
126
20
157
230
370
111
179
362
176
221
177
28
204
42
112
199
184
63
29
94
281

In [12]:
EOL=[]

i=0
for i in raw_data['Engine_ID']:
        EOL.append(given_no_of_cycles[i-1]+cycle_ran_after[i-1] )         
EOL = np.array(EOL).reshape([len(EOL),1])

In [13]:
raw_data["EOL"] = EOL
raw_data.head(2)

,Engine_ID,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,...,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21,EOL
0,1,1,20.0072,0.70,100.0,491.19,606.67,1481.04,1227.81,9.35,...,2387.78,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007,252
1,1,2,24.9984,0.62,60.0,462.54,536.22,1256.17,1031.48,7.05,...,2028.09,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748,252

In [14]:
raw_data["LR"] = raw_data["Cycle"].div(raw_data["EOL"])
# Drop ID and EOL
raw_data=raw_data.drop(columns=['Engine_ID','EOL'])
raw_data.head(2)

,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,SensorMeasure6,...,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21,LR
0,1,20.0072,0.70,100.0,491.19,606.67,1481.04,1227.81,9.35,13.6,...,2387.78,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007,0.003968
1,2,24.9984,0.62,60.0,462.54,536.22,1256.17,1031.48,7.05,9.0,...,2028.09,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748,0.007937

In [15]:
labels=[]
for i in range (0,len(raw_data)):
    if np.array(raw_data["LR"])[i] <= 0.6:
        labels.append(0)
    elif np.array(raw_data["LR"])[i] <= 0.8 :
        labels.append(1)   
    else :
        labels.append(2)  
        
raw_data["labels"]=labels
raw_data  = raw_data.drop(columns=['LR'])   
raw_data

,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,SensorMeasure6,...,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21,labels
0,1,20.0072,0.7000,100.0,491.19,606.67,1481.04,1227.81,9.35,13.60,...,2387.78,8048.98,9.2229,0.02,362,2324,100.00,24.31,14.7007,0
1,2,24.9984,0.6200,60.0,462.54,536.22,1256.17,1031.48,7.05,9.00,...,2028.09,7863.46,10.8632,0.02,306,1915,84.93,14.36,8.5748,0
2,3,42.0000,0.8420,100.0,445.00,549.23,1340.13,1105.88,3.91,5.69,...,2387.95,8071.13,9.3960,0.02,328,2212,100.00,10.39,6.4365,0
3,4,42.0035,0.8402,100.0,445.00,549.19,1339.70,1107.26,3.91,5.69,...,2387.90,8078.89,9.3594,0.02,328,2212,100.00,10.56,6.2367,0
4,5,35.0079,0.8400,100.0,449.44,555.10,1353.04,1117.80,5.48,7.97,...,2387.87,8057.83,9.3030,0.02,333,2223,100.00,14.85,8.9326,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,277,41.9991,0.8401,100.0,445.00,550.30,1364.40,1129.17,3.91,5.72,...,2388.50,8112.61,9.4427,0.02,331,2212,100.00,10.53,6.2620,2
41210,278,20.0026,0.7005,100.0,491.19,608.00,1494.75,1260.88,9.35,13.66,...,2388.33,8086.83,9.2772,0.02,366,2324,100.00,24.33,14.6486,2
41211,279,34.9988,0.8413,100.0,449.44,555.92,1370.65,1130.97,5.48,8.00,...,2388.64,8100.84,9.3982,0.02,336,2223,100.00,14.69,8.8389,2
41212,280,20.0027,0.7000,100.0,491.19,608.19,1489.11,1256.25,9.35,13.66,...,2388.37,8085.24,9.2727,0.03,366,2324,100.00,24.44,14.6887,2
41213,281,35.0075,0.8402,100.0,449.44,556.40,1378.58,1140.70,5.48,8.00,...,2388.59,8098.17,9.3964,0.02,335,2223,100.00,14.72,8.8502,2

In [16]:
raw_data.to_csv("dtest4.csv", index = None)