In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
raw_data = pd.read_csv("test_FD003.txt", sep = " ", header = None)

In [3]:
raw_data

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,...,8133.48,8.3760,0.03,391,2388,100.0,39.07,23.4468,NaN,NaN
1,1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,...,8137.44,8.4062,0.03,391,2388,100.0,39.04,23.4807,NaN,NaN
2,1,3,0.0014,-0.0003,100.0,518.67,641.68,1581.78,1391.92,14.62,...,8138.25,8.3553,0.03,391,2388,100.0,39.10,23.4244,NaN,NaN
3,1,4,0.0027,0.0001,100.0,518.67,642.20,1584.53,1395.34,14.62,...,8137.07,8.3709,0.03,392,2388,100.0,38.97,23.4782,NaN,NaN
4,1,5,-0.0001,0.0001,100.0,518.67,642.46,1589.03,1395.86,14.62,...,8134.20,8.4146,0.03,391,2388,100.0,39.09,23.3950,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16591,100,243,0.0011,-0.0003,100.0,518.67,643.04,1594.99,1411.28,14.62,...,8162.24,8.2939,0.03,395,2388,100.0,39.40,23.4949,NaN,NaN
16592,100,244,-0.0024,0.0002,100.0,518.67,642.47,1591.27,1417.64,14.62,...,8163.24,8.3247,0.03,394,2388,100.0,39.42,23.6011,NaN,NaN
16593,100,245,-0.0053,0.0002,100.0,518.67,642.70,1593.81,1412.70,14.62,...,8162.12,8.3264,0.03,394,2388,100.0,39.43,23.5482,NaN,NaN
16594,100,246,-0.0006,0.0001,100.0,518.67,642.19,1595.63,1406.58,14.62,...,8164.20,8.2908,0.03,395,2388,100.0,39.40,23.6687,NaN,NaN
16595,100,247,0.0023,0.0004,100.0,518.67,643.19,1592.54,1407.20,14.62,...,8169.24,8.3191,0.03,392,2388,100.0,39.41,23.6536,NaN,NaN

In [4]:
raw_data = raw_data.drop([26,27], axis='columns')

In [5]:
raw_data.head(2)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,...,521.89,2387.94,8133.48,8.3760,0.03,391,2388,100.0,39.07,23.4468
1,1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,...,521.85,2388.01,8137.44,8.4062,0.03,391,2388,100.0,39.04,23.4807

In [6]:
raw_data.columns = ['Engine_ID', 'Cycle', 'OpSet1', 'OpSet2', 'OpSet3', 'SensorMeasure1', 'SensorMeasure2', 'SensorMeasure3', 'SensorMeasure4', 'SensorMeasure5', 'SensorMeasure6', 'SensorMeasure7', 'SensorMeasure8', 'SensorMeasure9', 'SensorMeasure10', 'SensorMeasure11', 'SensorMeasure12', 'SensorMeasure13', 'SensorMeasure14', 'SensorMeasure15', 'SensorMeasure16', 'SensorMeasure17', 'SensorMeasure18', 'SensorMeasure19', 'SensorMeasure20', 'SensorMeasure21']
raw_data

,Engine_ID,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,...,SensorMeasure12,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21
0,1,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,...,521.89,2387.94,8133.48,8.3760,0.03,391,2388,100.0,39.07,23.4468
1,1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,...,521.85,2388.01,8137.44,8.4062,0.03,391,2388,100.0,39.04,23.4807
2,1,3,0.0014,-0.0003,100.0,518.67,641.68,1581.78,1391.92,14.62,...,522.10,2387.94,8138.25,8.3553,0.03,391,2388,100.0,39.10,23.4244
3,1,4,0.0027,0.0001,100.0,518.67,642.20,1584.53,1395.34,14.62,...,522.45,2387.96,8137.07,8.3709,0.03,392,2388,100.0,38.97,23.4782
4,1,5,-0.0001,0.0001,100.0,518.67,642.46,1589.03,1395.86,14.62,...,521.91,2387.97,8134.20,8.4146,0.03,391,2388,100.0,39.09,23.3950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16591,100,243,0.0011,-0.0003,100.0,518.67,643.04,1594.99,1411.28,14.62,...,529.23,2388.24,8162.24,8.2939,0.03,395,2388,100.0,39.40,23.4949
16592,100,244,-0.0024,0.0002,100.0,518.67,642.47,1591.27,1417.64,14.62,...,529.27,2388.26,8163.24,8.3247,0.03,394,2388,100.0,39.42,23.6011
16593,100,245,-0.0053,0.0002,100.0,518.67,642.70,1593.81,1412.70,14.62,...,529.48,2388.28,8162.12,8.3264,0.03,394,2388,100.0,39.43,23.5482
16594,100,246,-0.0006,0.0001,100.0,518.67,642.19,1595.63,1406.58,14.62,...,529.39,2388.33,8164.20,8.2908,0.03,395,2388,100.0,39.40,23.6687
16595,100,247,0.0023,0.0004,100.0,518.67,643.19,1592.54,1407.20,14.62,...,529.59,2388.29,8169.24,8.3191,0.03,392,2388,100.0,39.41,23.6536

In [7]:
raw_data[raw_data['Engine_ID'] == 1]

,Engine_ID,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,...,SensorMeasure12,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21
0,1,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,...,521.89,2387.94,8133.48,8.3760,0.03,391,2388,100.0,39.07,23.4468
1,1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,...,521.85,2388.01,8137.44,8.4062,0.03,391,2388,100.0,39.04,23.4807
2,1,3,0.0014,-0.0003,100.0,518.67,641.68,1581.78,1391.92,14.62,...,522.10,2387.94,8138.25,8.3553,0.03,391,2388,100.0,39.10,23.4244
3,1,4,0.0027,0.0001,100.0,518.67,642.20,1584.53,1395.34,14.62,...,522.45,2387.96,8137.07,8.3709,0.03,392,2388,100.0,38.97,23.4782
4,1,5,-0.0001,0.0001,100.0,518.67,642.46,1589.03,1395.86,14.62,...,521.91,2387.97,8134.20,8.4146,0.03,391,2388,100.0,39.09,23.3950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,1,229,0.0030,0.0001,100.0,518.67,642.98,1586.93,1406.13,14.62,...,527.49,2388.18,8155.41,8.3114,0.03,393,2388,100.0,39.22,23.4479
229,1,230,0.0018,0.0000,100.0,518.67,642.80,1593.28,1401.01,14.62,...,527.84,2388.22,8159.48,8.2845,0.03,393,2388,100.0,39.37,23.6093
230,1,231,-0.0002,0.0004,100.0,518.67,642.74,1588.29,1408.17,14.62,...,528.41,2388.22,8159.40,8.3349,0.03,393,2388,100.0,39.34,23.6160
231,1,232,0.0038,-0.0005,100.0,518.67,642.13,1585.31,1412.28,14.62,...,528.93,2388.19,8165.59,8.3044,0.03,394,2388,100.0,39.21,23.5743
232,1,233,0.0021,0.0002,100.0,518.67,642.59,1592.40,1409.87,14.62,...,528.05,2388.23,8158.77,8.2966,0.03,393,2388,100.0,39.43,23.5679

In [8]:
len(raw_data['Engine_ID'].unique())

100

In [10]:
cycle_ran_after = pd.read_csv('RUL_FD003.txt', sep=' ', header = None)
cycle_ran_after=cycle_ran_after.drop([1], axis='columns')
cycle_ran_after = np.array(cycle_ran_after)
cycle_ran_after

array([[ 44],
       [ 51],
       [ 27],
       [120],
       [101],
       [ 99],
       [ 71],
       [ 55],
       [ 55],
       [ 66],
       [ 77],
       [115],
       [115],
       [ 31],
       [108],
       [ 56],
       [136],
       [132],
       [ 85],
       [ 56],
       [ 18],
       [119],
       [ 78],
       [  9],
       [ 58],
       [ 11],
       [ 88],
       [144],
       [124],
       [ 89],
       [ 79],
       [ 55],
       [ 71],
       [ 65],
       [ 87],
       [137],
       [145],
       [ 22],
       [  8],
       [ 41],
       [131],
       [115],
       [128],
       [ 69],
       [111],
       [  7],
       [137],
       [ 55],
       [135],
       [ 11],
       [ 78],
       [120],
       [ 87],
       [ 87],
       [ 55],
       [ 93],
       [ 88],
       [ 40],
       [ 49],
       [128],
       [129],
       [ 58],
       [117],
       [ 28],
       [115],
       [ 87],
       [ 92],
       [103],
       [100],
       [ 63],
       [ 35],
       [ 45],
       [ 99],
       [117],
       [ 45],
       [ 27],
       [ 86],
       [ 20],
       [ 18],
       [133],
       [ 15],
       [  6],
       [145],
       [104],
       [ 56],
       [ 25],
       [ 68],
       [144],
       [ 41],
       [ 51],
       [ 81],
       [ 14],
       [ 67],
       [ 10],
       [127],
       [113],
       [123],
       [ 17],
       [  8],
       [ 28]], dtype=int64)

In [11]:
given_no_of_cycles=[]
for i in range (1,len(raw_data['Engine_ID'].unique())+1):
    given_no_of_cycles.append(len(raw_data[raw_data['Engine_ID']==i]))
    print(len(raw_data[raw_data['Engine_ID']==i]))
    
given_no_of_cycles=np.array(given_no_of_cycles).reshape([cycle_ran_after.shape[0],1])

233
124
234
68
138
64
158
192
238
131
103
146
65
169
112
126
230
244
115
207
263
119
405
475
169
130
104
70
89
333
152
120
180
105
144
90
47
133
310
313
101
87
133
146
88
180
56
179
211
147
118
38
108
50
203
162
158
119
149
112
78
224
137
271
79
122
186
188
105
84
367
232
109
68
191
180
381
279
170
85
155
194
168
76
118
174
218
41
120
206
56
266
158
333
213
358
95
182
289
247

In [12]:
EOL=[]

i=0
for i in raw_data['Engine_ID']:
        EOL.append(given_no_of_cycles[i-1]+cycle_ran_after[i-1] )         
EOL = np.array(EOL).reshape([len(EOL),1])

In [13]:
EOL.shape

(16596, 1)

In [14]:
raw_data["EOL"] = EOL
raw_data.head(2)

,Engine_ID,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,...,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21,EOL
0,1,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,...,2387.94,8133.48,8.3760,0.03,391,2388,100.0,39.07,23.4468,277
1,1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,...,2388.01,8137.44,8.4062,0.03,391,2388,100.0,39.04,23.4807,277

In [15]:
raw_data["LR"] = raw_data["Cycle"].div(raw_data["EOL"])
# Drop ID and EOL
raw_data=raw_data.drop(columns=['Engine_ID','EOL'])
raw_data.head(2)

,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,SensorMeasure6,...,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21,LR
0,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,21.58,...,2387.94,8133.48,8.3760,0.03,391,2388,100.0,39.07,23.4468,0.00361
1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,21.58,...,2388.01,8137.44,8.4062,0.03,391,2388,100.0,39.04,23.4807,0.00722

In [16]:
labels=[]
for i in range (0,len(raw_data)):
    if np.array(raw_data["LR"])[i] <= 0.6:
        labels.append(0)
    elif np.array(raw_data["LR"])[i] <= 0.8 :
        labels.append(1)   
    else :
        labels.append(2)  
        
raw_data["labels"]=labels
raw_data  = raw_data.drop(columns=['LR'])   
raw_data

,Cycle,OpSet1,OpSet2,OpSet3,SensorMeasure1,SensorMeasure2,SensorMeasure3,SensorMeasure4,SensorMeasure5,SensorMeasure6,...,SensorMeasure13,SensorMeasure14,SensorMeasure15,SensorMeasure16,SensorMeasure17,SensorMeasure18,SensorMeasure19,SensorMeasure20,SensorMeasure21,labels
0,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,21.58,...,2387.94,8133.48,8.3760,0.03,391,2388,100.0,39.07,23.4468,0
1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,21.58,...,2388.01,8137.44,8.4062,0.03,391,2388,100.0,39.04,23.4807,0
2,3,0.0014,-0.0003,100.0,518.67,641.68,1581.78,1391.92,14.62,21.58,...,2387.94,8138.25,8.3553,0.03,391,2388,100.0,39.10,23.4244,0
3,4,0.0027,0.0001,100.0,518.67,642.20,1584.53,1395.34,14.62,21.59,...,2387.96,8137.07,8.3709,0.03,392,2388,100.0,38.97,23.4782,0
4,5,-0.0001,0.0001,100.0,518.67,642.46,1589.03,1395.86,14.62,21.58,...,2387.97,8134.20,8.4146,0.03,391,2388,100.0,39.09,23.3950,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16591,243,0.0011,-0.0003,100.0,518.67,643.04,1594.99,1411.28,14.62,21.58,...,2388.24,8162.24,8.2939,0.03,395,2388,100.0,39.40,23.4949,2
16592,244,-0.0024,0.0002,100.0,518.67,642.47,1591.27,1417.64,14.62,21.58,...,2388.26,8163.24,8.3247,0.03,394,2388,100.0,39.42,23.6011,2
16593,245,-0.0053,0.0002,100.0,518.67,642.70,1593.81,1412.70,14.62,21.58,...,2388.28,8162.12,8.3264,0.03,394,2388,100.0,39.43,23.5482,2
16594,246,-0.0006,0.0001,100.0,518.67,642.19,1595.63,1406.58,14.62,21.58,...,2388.33,8164.20,8.2908,0.03,395,2388,100.0,39.40,23.6687,2
16595,247,0.0023,0.0004,100.0,518.67,643.19,1592.54,1407.20,14.62,21.58,...,2388.29,8169.24,8.3191,0.03,392,2388,100.0,39.41,23.6536,2

In [17]:
raw_data.to_csv("dtest3.csv", index = None)